<header>
    <div class= "padre">
    <div class= "flexhead">
    <div class="logotipo">
    <img class = "mercadoliebre" src="/images/logo-mercado-liebre.svg"  alt="Logo de MercadoLiebre">
    </div>
    
    <div class="barra">
    <input class="search" type="text" placeholder="Buscar productos, marcas">
    <button class="lupita"><i class="fas fa-search"></i></button>
    </div>
    <div class= "parrafo">
    <p class = "center"><i class="fas fa-hand-holding-usd"></i>
        Compra en cuotas y sin tarjeta de crédito
    </p>
    </div>

    </div>
    <nav class= "flexlista">
        <div class="divlista1">
        <ul class = "lista">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        </div>
        <div class="divlista2">
        <ul class= "lista2">   
            <li><a href="/registro">Creá tu cuenta
                <span class="far fa-id-card"></span>
                </a></li>
            <li><a href="/login">Ingresá
                <span class="fas fa-sign-in-alt"></span>
                </a></li>
            <li><a href="#">Mis compras
                <span class="fas fa-shopping-basket"></span>
                </a></li>
        </ul>
        </div>
        
    </nav>
    <button class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </button>
    </div>
</header>