<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <main class= "mainlogin">
        <section class ="sectionlogin">
         <form action="/" method="POST">
            
            <div class = "divlogin">
               <div class ="nombrelogin"> <input class= "borderinputlogin" type="text" name="user" placeholder="Nombre de usuario"></div>
            
               <div class ="nombrelogin"> <input class= "borderinputlogin" type="password" name="pass" placeholder="Contraseña"></div>
            </div> 
            <div class= "botonlogin">
            <button class= "buttonlogin" type="submit">Enviar</button> 
            </div>      
         </form>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>